*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    background-color:rgba(228, 217, 217, 0.945)!important;
}

/*----------------------*-------- NAVBAR STARTS------------------*-----------*/
.navbar-brand img{
    width:100px;
    height:60px;
}
nav{
    box-shadow: 0 4px 6px -6px #222;
}
/*----------------------*-------- NAVBAR ENDS------------------*-----------*/

/*----------------------*-------- FORM SECTION STARTS------------------*-----------*/
.form .row
{
    background:#fff!important;
    border-radius:30px;
}
.socialbutton
{
    height:40px;
    width:70px;
    border-radius:4px;
    border:1px solid #000;
    font-weight: bold;
    padding:2px;
    margin:8px;
    margin-bottom:20px;
    font-size: 1rem;
    display:flex;
    justify-content: space-around;
    
}
.socialbutton:hover
{
    background:rgb(159, 228, 228);
}
.socialbutton p
{
    padding-top: 3px;
}

.fb,.google
{
    height:30px;
    width:40px;
    padding:2px;
    margin:1px;
}
h1
{
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: 0.8;
    font-size: 1.2rem;
    margin:20px 0 15px 0;
    font-weight:bold;
    line-height:1.4;
    word-spacing:4px;
    font-family:"Poppins",sans-serif; 
}
h2
{
    letter-spacing: 2px;
    opacity: 0.9;
    font-size: 0.7rem;
    margin:20px 0 15px 0;
    font-weight:medium;
    line-height:1;
    word-spacing:3px;
    font-family:"Poppins",sans-serif;
}
.btn1
{
    height:50px;
    width:100%;
    outline:none;
    border:none;
    background:#000;
    color:#fff;
    border-radius:4px;
    font-weight: bold;
}
.btn1:hover
{
    border:1px solid #000;
    background:#fff;
    color:#000;
}
svg
{
    padding-top:10px;
}
a:hover
{
    color:rgb(110, 16, 16)!important;
}
a,p
{
 text-transform:capitalize;
 letter-spacing: 1px;
 opacity: 0.9;
 font-size: 0.9rem;
 font-weight:bold;
 line-height:1.5;
 font-family:"Poppins",sans-serif;
 
}
/*----------------------*-------- FORM SECTION ENDS------------------*-----------*/

/*----------------------*-------- FOOTER SECTION STARTS------------------*-----------*/
footer
 {
     background:rgba(252, 251, 251, 0.322);
     font-weight:bolder;
     width:100%;
     height:auto;
     padding:20px 0 10px 0;
     position:relative;
     display:flex;
     align-items: center;
     justify-content: space-evenly;
 }
.footersection a
 {
  text-transform:capitalize;
  letter-spacing: 1px;
  opacity: 0.9;
  font-size: 0.7rem;
  font-weight:bold;
  line-height:1.5;
  font-family:"Poppins",sans-serif;
  color:#000;
 }
 .footersection li{
     list-style: none;
     display:inline-block;
     padding-right:0.2rem;
 }
 .footersection a:hover{
     text-decoration: none;
     color:rgb(99, 16, 16)
 }
 .footersection h3
 {
     text-transform:uppercase;
     color:#000;
     margin-bottom:25px;
     font-size:0.7rem !important;
     font-weight:600;
     text-shadow: 0 2px 5px rgb(0,0,0,0.4);
 }
 /*----------------------*-------- FOOTER SECTION ENDS------------------*-----------*/
 


